---
layout: handbook-page-toc
title: "Verify:Platform Group"
description: "The GitLab team page for the Verify:Platform Group"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

For an understanding of what this team is going to be working on take a look at [the product
vision](/direction/verify/verify).

## Mission

The Verify:Platform Group is focused on supporting the Verify Stage technical direction and scaling. 

This team maps to [Verify](/handbook/product/categories/#verify-stage) devops stage.

## Performance Indicator

<%= partial("handbook/engineering/development/ops/verify/includes/performance_indicators.erb") %>

## Team Members

The following people are permanent members of the Verify:Platform group:

### Backend
<%= direct_team(manager_role: 'Backend Engineering Manager, Verify:Pipeline Authoring & Verify:Platform', role_regexp: /Platform/) %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Verify(?!:)|Platform/, direct_manager_role: 'Backend Engineering Manager, Verify:Pipeline Authoring & Verify:Platform') %>

## Technologies

<%= partial("handbook/engineering/development/ops/verify/includes/technologies.erb") %>
